In [1]:
import pandas as pd

In [13]:
df = pd.read_csv('D:\Project\Earthquake\DataSet\DATASET_UPDATE.csv')
df['NewTime'] = df['time']
df['time'] = pd.to_datetime(df['time']).dt.strftime("%Y-%m-%d")
df = df[df['time'] >= '2000-01-01']

In [14]:
df

              time   latitude   longitude   mag    depth          NewTime
343893  2000-01-01  41.927000   20.543000  4.50   10.000    1/1/2000 1:19
343894  2000-01-01  41.915000   20.534000  2.90    6.200    1/1/2000 2:10
343895  2000-01-01 -11.348000  164.568000  4.30   33.000    1/1/2000 2:12
343896  2000-01-01  48.119000   -2.959000  2.70    3.000    1/1/2000 3:20
343897  2000-01-01  62.753100 -150.301000  2.50   93.300    1/1/2000 3:24
...            ...        ...         ...   ...      ...              ...
971815  2024-01-13  19.157833 -155.494171  2.52   34.230  1/13/2024 16:14
971816  2024-01-13 -22.182900  -70.372200  4.40   50.256  1/13/2024 16:55
971817  2024-01-13  19.395166 -155.294495  2.63   10.800  1/13/2024 18:52
971818  2024-01-13  44.631600  138.538000  4.20  291.763  1/13/2024 20:57
971819  2024-01-13  66.979300 -142.598600  2.70    5.627  1/13/2024 21:32

[627927 rows x 6 columns]

In [15]:
asteroid = pd.read_csv('D:\Project\Earthquake\ASTroidCTrain.csv')
asteroid

,Time,SUN_X,SUN_Y,SUN_Z,199_X,199_Y,199_Z,299_X,299_Y,299_Z,...,90000855_Z,Dinkinesh_X,Dinkinesh_Y,Dinkinesh_Z,Gaspra_X,Gaspra_Y,Gaspra_Z,Ceres_X,Ceres_Y,Ceres_Z
0,2000-01-01,-0.007140,-0.002644,-0.000921,-0.147852,-0.400633,-0.198918,-0.725770,-0.039682,0.027895,...,-0.602941,1.023883,1.519507,0.706154,-1.720290,1.478228,0.478057,-2.384673,0.547941,0.742252
1,2000-01-02,-0.007134,-0.002651,-0.000924,-0.126483,-0.405565,-0.203767,-0.724966,-0.058180,0.019523,...,-0.601298,1.012587,1.524985,0.708922,-1.728906,1.472102,0.474910,-2.388252,0.538089,0.738344
2,2000-01-03,-0.007129,-0.002657,-0.000927,-0.104766,-0.409323,-0.208026,-0.723594,-0.076634,0.011134,...,-0.599653,1.001251,1.530404,0.711663,-1.737482,1.465942,0.471751,-2.391788,0.528228,0.734423
3,2000-01-04,-0.007124,-0.002664,-0.000930,-0.082765,-0.411897,-0.211682,-0.721654,-0.095029,0.002736,...,-0.598007,0.989876,1.535763,0.714377,-1.746016,1.459747,0.468581,-2.395282,0.518357,0.730490
4,2000-01-05,-0.007118,-0.002671,-0.000934,-0.060543,-0.413279,-0.214724,-0.719149,-0.113351,-0.005665,...,-0.596360,0.978463,1.541062,0.717062,-1.754509,1.453517,0.465400,-2.398733,0.508476,0.726543
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8775,2024-01-10,-0.007924,-0.002808,-0.000989,-0.399117,-0.042271,0.018476,-0.682325,-0.249970,-0.069536,...,-1.140898,-1.792371,-1.380605,-0.628575,-1.855594,-1.588482,-0.786248,-1.022458,-2.405254,-0.927603
8776,2024-01-11,-0.007919,-0.002814,-0.000991,-0.401985,-0.066067,0.006062,-0.675061,-0.267064,-0.077687,...,-1.141328,-1.786093,-1.388578,-0.632451,-1.848275,-1.594800,-0.788289,-1.013339,-2.408689,-0.931078
8777,2024-01-12,-0.007914,-0.002821,-0.000994,-0.403020,-0.089569,-0.006384,-0.667273,-0.283949,-0.085777,...,-1.141751,-1.779773,-1.396519,-0.636313,-1.840924,-1.601089,-0.790316,-1.004206,-2.412090,-0.934540
8778,2024-01-13,-0.007909,-0.002827,-0.000997,-0.402289,-0.112684,-0.018807,-0.658965,-0.300613,-0.093800,...,-1.142165,-1.773413,-1.404428,-0.640160,-1.833540,-1.607351,-0.792329,-0.995059,-2.415457,-0.937989
8779,2024-01-14,-0.007904,-0.002833,-0.001000,-0.399862,-0.135327,-0.031153,-0.650146,-0.317043,-0.101751,...,-1.142571,-1.767012,-1.412305,-0.643992,-1.826124,-1.613584,-0.794328,-0.985899,-2.418791,-0.941425

In [16]:
merged_df = pd.merge(df, asteroid, how='left', left_on='time', right_on='Time', suffixes=('_df', '_asteroid'))
merged_df

,time,latitude,longitude,mag,depth,NewTime,Time,SUN_X,SUN_Y,SUN_Z,...,90000855_Z,Dinkinesh_X,Dinkinesh_Y,Dinkinesh_Z,Gaspra_X,Gaspra_Y,Gaspra_Z,Ceres_X,Ceres_Y,Ceres_Z
0,2000-01-01,41.927000,20.543000,4.50,10.000,1/1/2000 1:19,2000-01-01,-0.007140,-0.002644,-0.000921,...,-0.602941,1.023883,1.519507,0.706154,-1.72029,1.478228,0.478057,-2.384673,0.547941,0.742252
1,2000-01-01,41.915000,20.534000,2.90,6.200,1/1/2000 2:10,2000-01-01,-0.007140,-0.002644,-0.000921,...,-0.602941,1.023883,1.519507,0.706154,-1.72029,1.478228,0.478057,-2.384673,0.547941,0.742252
2,2000-01-01,-11.348000,164.568000,4.30,33.000,1/1/2000 2:12,2000-01-01,-0.007140,-0.002644,-0.000921,...,-0.602941,1.023883,1.519507,0.706154,-1.72029,1.478228,0.478057,-2.384673,0.547941,0.742252
3,2000-01-01,48.119000,-2.959000,2.70,3.000,1/1/2000 3:20,2000-01-01,-0.007140,-0.002644,-0.000921,...,-0.602941,1.023883,1.519507,0.706154,-1.72029,1.478228,0.478057,-2.384673,0.547941,0.742252
4,2000-01-01,62.753100,-150.301000,2.50,93.300,1/1/2000 3:24,2000-01-01,-0.007140,-0.002644,-0.000921,...,-0.602941,1.023883,1.519507,0.706154,-1.72029,1.478228,0.478057,-2.384673,0.547941,0.742252
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
627922,2024-01-13,19.157833,-155.494171,2.52,34.230,1/13/2024 16:14,2024-01-13,-0.007909,-0.002827,-0.000997,...,-1.142165,-1.773413,-1.404428,-0.640160,-1.83354,-1.607351,-0.792329,-0.995059,-2.415457,-0.937989
627923,2024-01-13,-22.182900,-70.372200,4.40,50.256,1/13/2024 16:55,2024-01-13,-0.007909,-0.002827,-0.000997,...,-1.142165,-1.773413,-1.404428,-0.640160,-1.83354,-1.607351,-0.792329,-0.995059,-2.415457,-0.937989
627924,2024-01-13,19.395166,-155.294495,2.63,10.800,1/13/2024 18:52,2024-01-13,-0.007909,-0.002827,-0.000997,...,-1.142165,-1.773413,-1.404428,-0.640160,-1.83354,-1.607351,-0.792329,-0.995059,-2.415457,-0.937989
627925,2024-01-13,44.631600,138.538000,4.20,291.763,1/13/2024 20:57,2024-01-13,-0.007909,-0.002827,-0.000997,...,-1.142165,-1.773413,-1.404428,-0.640160,-1.83354,-1.607351,-0.792329,-0.995059,-2.415457,-0.937989
627926,2024-01-13,66.979300,-142.598600,2.70,5.627,1/13/2024 21:32,2024-01-13,-0.007909,-0.002827,-0.000997,...,-1.142165,-1.773413,-1.404428,-0.640160,-1.83354,-1.607351,-0.792329,-0.995059,-2.415457,-0.937989

In [17]:
merged_df.to_csv('DATASET_UPDATE_TO_ML.csv')