In [1]:
import tensorflow as tf
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
import numpy as np
import IPython

In [ ]:
# df = pd.read_csv('D:\Earthquake\Machine Learning Model\Earthquake_Position_planets.csv')
# df.head()

In [8]:
df['time'] = pd.to_datetime(df['time'], format='%m/%d/%Y %H:%M')
# df['time'] = df['time'].dt.strftime('%Y-%m-%d %H:%M')
df['sq'] = df['time'].dt.strftime('%Y-%m-%d')

Trainning 

Models1 

input   x => latitude longitude position_asteroids|plannets
output  y => True False


Medels2

input   x => position_asteroid|plannets
output  y => latitude and longitude

In [9]:
# df = df[((22.918 <= df['latitude']) & (df['latitude'] <= 40.514) | (39.3 <= df['latitude']) & (df['latitude'] <= 49.382)) &
#         ((124.277 <= df['longitude']) & (df['longitude'] <= 151.196) | (132.451 <= df['longitude']) & (df['longitude'] <= 159.082))]

# print(df)

In [10]:

# df['time'] = pd.to_datetime(df['time'])

# start_date = "1950-09-24"
# end_date = "2023-07-23"
# date_range = pd.date_range(start=start_date, end=end_date, freq='D')

# date_range_str = date_range.strftime('%Y-%m-%d').tolist()

# df['sq'] = df['time'].dt.strftime('%Y-%m-%d')

# result = [date for date in date_range_str if date not in df['sq'].tolist()]

# print(result)

In [11]:
# for rs in result:
#     print(rs)

# print(len(result))
# print(result[-1])

In [12]:
testQ = df[['time', 'latitude', 'longitude', 'mag']]
testQ['time'] = pd.to_datetime(testQ['time'])
testQ['time'] = testQ['time'].dt.strftime('%H:%M')
IPython.display.clear_output()
testQ.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
latitude,960000.0,19.637850,29.439833,-84.4220,-3.861925,27.50645,40.255000,87.386
longitude,960000.0,-20.274812,120.064791,-179.9997,-121.417375,-66.59000,117.861825,180.000
mag,960000.0,3.833837,0.914126,0.7000,2.940000,4.00000,4.500000,9.500