In [7]:
import tensorflow as tf
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [9]:
path = 'D:\DataSet\DATASET_UPDATE_TO_ML.csv'
df = pd.read_csv(path)
df

,UTC,Date,latitude,longitude,mag,SUN_X,SUN_Y,SUN_Z,199_X,199_Y,...,90000855_Z,Dinkinesh_X,Dinkinesh_Y,Dinkinesh_Z,Gaspra_X,Gaspra_Y,Gaspra_Z,Ceres_X,Ceres_Y,Ceres_Z
0,1/1/2000 1:19,1/1/2000,41.927000,20.543000,4.50,-0.007140,-0.002644,-0.000921,-0.147852,-0.400633,...,-0.602941,1.023883,1.519507,0.706154,-1.72029,1.478228,0.478057,-2.384673,0.547941,0.742252
1,1/1/2000 2:10,1/1/2000,41.915000,20.534000,2.90,-0.007140,-0.002644,-0.000921,-0.147852,-0.400633,...,-0.602941,1.023883,1.519507,0.706154,-1.72029,1.478228,0.478057,-2.384673,0.547941,0.742252
2,1/1/2000 2:12,1/1/2000,-11.348000,164.568000,4.30,-0.007140,-0.002644,-0.000921,-0.147852,-0.400633,...,-0.602941,1.023883,1.519507,0.706154,-1.72029,1.478228,0.478057,-2.384673,0.547941,0.742252
3,1/1/2000 3:20,1/1/2000,48.119000,-2.959000,2.70,-0.007140,-0.002644,-0.000921,-0.147852,-0.400633,...,-0.602941,1.023883,1.519507,0.706154,-1.72029,1.478228,0.478057,-2.384673,0.547941,0.742252
4,1/1/2000 3:24,1/1/2000,62.753100,-150.301000,2.50,-0.007140,-0.002644,-0.000921,-0.147852,-0.400633,...,-0.602941,1.023883,1.519507,0.706154,-1.72029,1.478228,0.478057,-2.384673,0.547941,0.742252
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
627922,1/13/2024 16:14,1/13/2024,19.157833,-155.494171,2.52,-0.007909,-0.002827,-0.000997,-0.402289,-0.112684,...,-1.142165,-1.773413,-1.404428,-0.640160,-1.83354,-1.607351,-0.792329,-0.995059,-2.415457,-0.937989
627923,1/13/2024 16:55,1/13/2024,-22.182900,-70.372200,4.40,-0.007909,-0.002827,-0.000997,-0.402289,-0.112684,...,-1.142165,-1.773413,-1.404428,-0.640160,-1.83354,-1.607351,-0.792329,-0.995059,-2.415457,-0.937989
627924,1/13/2024 18:52,1/13/2024,19.395166,-155.294495,2.63,-0.007909,-0.002827,-0.000997,-0.402289,-0.112684,...,-1.142165,-1.773413,-1.404428,-0.640160,-1.83354,-1.607351,-0.792329,-0.995059,-2.415457,-0.937989
627925,1/13/2024 20:57,1/13/2024,44.631600,138.538000,4.20,-0.007909,-0.002827,-0.000997,-0.402289,-0.112684,...,-1.142165,-1.773413,-1.404428,-0.640160,-1.83354,-1.607351,-0.792329,-0.995059,-2.415457,-0.937989
627926,1/13/2024 21:32,1/13/2024,66.979300,-142.598600,2.70,-0.007909,-0.002827,-0.000997,-0.402289,-0.112684,...,-1.142165,-1.773413,-1.404428,-0.640160,-1.83354,-1.607351,-0.792329,-0.995059,-2.415457,-0.937989

In [11]:
df['Date'] = pd.to_datetime(df['Date']).dt.strftime('%Y-%m-%d')
df['UTC'] = pd.to_datetime(df['UTC']).dt.strftime('%Y-%m-%d %H:%M:%S')
df

,UTC,Date,latitude,longitude,mag,SUN_X,SUN_Y,SUN_Z,199_X,199_Y,...,90000855_Z,Dinkinesh_X,Dinkinesh_Y,Dinkinesh_Z,Gaspra_X,Gaspra_Y,Gaspra_Z,Ceres_X,Ceres_Y,Ceres_Z
0,2000-01-01 01:19:00,2000-01-01,41.927000,20.543000,4.50,-0.007140,-0.002644,-0.000921,-0.147852,-0.400633,...,-0.602941,1.023883,1.519507,0.706154,-1.72029,1.478228,0.478057,-2.384673,0.547941,0.742252
1,2000-01-01 02:10:00,2000-01-01,41.915000,20.534000,2.90,-0.007140,-0.002644,-0.000921,-0.147852,-0.400633,...,-0.602941,1.023883,1.519507,0.706154,-1.72029,1.478228,0.478057,-2.384673,0.547941,0.742252
2,2000-01-01 02:12:00,2000-01-01,-11.348000,164.568000,4.30,-0.007140,-0.002644,-0.000921,-0.147852,-0.400633,...,-0.602941,1.023883,1.519507,0.706154,-1.72029,1.478228,0.478057,-2.384673,0.547941,0.742252
3,2000-01-01 03:20:00,2000-01-01,48.119000,-2.959000,2.70,-0.007140,-0.002644,-0.000921,-0.147852,-0.400633,...,-0.602941,1.023883,1.519507,0.706154,-1.72029,1.478228,0.478057,-2.384673,0.547941,0.742252
4,2000-01-01 03:24:00,2000-01-01,62.753100,-150.301000,2.50,-0.007140,-0.002644,-0.000921,-0.147852,-0.400633,...,-0.602941,1.023883,1.519507,0.706154,-1.72029,1.478228,0.478057,-2.384673,0.547941,0.742252
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
627922,2024-01-13 16:14:00,2024-01-13,19.157833,-155.494171,2.52,-0.007909,-0.002827,-0.000997,-0.402289,-0.112684,...,-1.142165,-1.773413,-1.404428,-0.640160,-1.83354,-1.607351,-0.792329,-0.995059,-2.415457,-0.937989
627923,2024-01-13 16:55:00,2024-01-13,-22.182900,-70.372200,4.40,-0.007909,-0.002827,-0.000997,-0.402289,-0.112684,...,-1.142165,-1.773413,-1.404428,-0.640160,-1.83354,-1.607351,-0.792329,-0.995059,-2.415457,-0.937989
627924,2024-01-13 18:52:00,2024-01-13,19.395166,-155.294495,2.63,-0.007909,-0.002827,-0.000997,-0.402289,-0.112684,...,-1.142165,-1.773413,-1.404428,-0.640160,-1.83354,-1.607351,-0.792329,-0.995059,-2.415457,-0.937989
627925,2024-01-13 20:57:00,2024-01-13,44.631600,138.538000,4.20,-0.007909,-0.002827,-0.000997,-0.402289,-0.112684,...,-1.142165,-1.773413,-1.404428,-0.640160,-1.83354,-1.607351,-0.792329,-0.995059,-2.415457,-0.937989
627926,2024-01-13 21:32:00,2024-01-13,66.979300,-142.598600,2.70,-0.007909,-0.002827,-0.000997,-0.402289,-0.112684,...,-1.142165,-1.773413,-1.404428,-0.640160,-1.83354,-1.607351,-0.792329,-0.995059,-2.415457,-0.937989

Japan
Lat : (22.918 ,      40.514)      or      (39.3 ,      49.382)
Lon : (124.277 ,     151.196)     or      (132.451 ,   159.082)

In [24]:
Jp = df[((22.918 <= df['latitude']) & (df['latitude'] <= 40.514) | (39.3 <= df['latitude']) & (df['latitude'] <= 49.382)) &
        ((124.277 <= df['longitude']) & (df['longitude'] <= 151.196) | (132.451 <= df['longitude']) & (df['longitude'] <= 159.082)) &
        (df['Date'] >= '2000-01-01') & (df['mag'] >= 0)]
Jp

,UTC,Date,latitude,longitude,mag,SUN_X,SUN_Y,SUN_Z,199_X,199_Y,...,90000855_Z,Dinkinesh_X,Dinkinesh_Y,Dinkinesh_Z,Gaspra_X,Gaspra_Y,Gaspra_Z,Ceres_X,Ceres_Y,Ceres_Z
35,2000-01-01 19:30:00,2000-01-01,23.1120,143.6440,5.2,-0.007140,-0.002644,-0.000921,-0.147852,-0.400633,...,-0.602941,1.023883,1.519507,0.706154,-1.720290,1.478228,0.478057,-2.384673,0.547941,0.742252
43,2000-01-02 02:02:00,2000-01-02,47.6050,154.4230,4.2,-0.007134,-0.002651,-0.000924,-0.126483,-0.405565,...,-0.601298,1.012587,1.524985,0.708922,-1.728906,1.472102,0.474910,-2.388252,0.538089,0.738344
101,2000-01-02 23:18:00,2000-01-02,33.6920,138.1270,4.3,-0.007134,-0.002651,-0.000924,-0.126483,-0.405565,...,-0.601298,1.012587,1.524985,0.708922,-1.728906,1.472102,0.474910,-2.388252,0.538089,0.738344
114,2000-01-03 11:25:00,2000-01-03,32.5620,130.7780,4.1,-0.007129,-0.002657,-0.000927,-0.104766,-0.409323,...,-0.599653,1.001251,1.530404,0.711663,-1.737482,1.465942,0.471751,-2.391788,0.528228,0.734423
120,2000-01-03 16:34:00,2000-01-03,45.1350,148.2380,4.1,-0.007129,-0.002657,-0.000927,-0.104766,-0.409323,...,-0.599653,1.001251,1.530404,0.711663,-1.737482,1.465942,0.471751,-2.391788,0.528228,0.734423
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
627884,2024-01-12 15:58:00,2024-01-12,32.2557,141.8010,4.6,-0.007914,-0.002821,-0.000994,-0.403020,-0.089569,...,-1.141751,-1.779773,-1.396519,-0.636313,-1.840924,-1.601089,-0.790316,-1.004206,-2.412090,-0.934540
627891,2024-01-12 19:04:00,2024-01-12,37.1877,136.8201,4.3,-0.007914,-0.002821,-0.000994,-0.403020,-0.089569,...,-1.141751,-1.779773,-1.396519,-0.636313,-1.840924,-1.601089,-0.790316,-1.004206,-2.412090,-0.934540
627909,2024-01-13 06:55:00,2024-01-13,43.6931,144.2781,4.5,-0.007909,-0.002827,-0.000997,-0.402289,-0.112684,...,-1.142165,-1.773413,-1.404428,-0.640160,-1.833540,-1.607351,-0.792329,-0.995059,-2.415457,-0.937989
627919,2024-01-13 15:10:00,2024-01-13,29.4422,141.5959,4.8,-0.007909,-0.002827,-0.000997,-0.402289,-0.112684,...,-1.142165,-1.773413,-1.404428,-0.640160,-1.833540,-1.607351,-0.792329,-0.995059,-2.415457,-0.937989
627925,2024-01-13 20:57:00,2024-01-13,44.6316,138.5380,4.2,-0.007909,-0.002827,-0.000997,-0.402289,-0.112684,...,-1.142165,-1.773413,-1.404428,-0.640160,-1.833540,-1.607351,-0.792329,-0.995059,-2.415457,-0.937989